####################################################
#
# Welcome to Doxy Jekyll Template
#
# Product Link : https://themeix.com/product/doxy-documentation-website-jekyll-template/
# Version : v4.1.0
#
####################################################

# aggiunta per prova 31/01/21
#permalink: /:categories/:title/
breadcrumbs: true  # disabled by default

sass:
    sass_dir: assets/scss/
    style: compressed
    # Exclude from processing.
    exclude:
      - bower_components
#finale
# Site settings
title: "Tiledesk - Documentation Website"
email: "info@tiledesk.com"
description: "Tiledesk is AI powered live chat platform"
keywords: "jekyll, minimal jekyll, jekyll theme, responsive jekyll, seo friendly blog, super fast blog, responsive"
<<<<<<< HEAD
baseurl: /doxy-netflycms" # the subpath of your site, e.g. /blog
url: https://leomirco.github.io"
=======
baseurl: "" #"/doxy-netflycms" # the subpath of your site, e.g. /blog
url: "https://leomirco.github.io"
>>>>>>> b6afef739ca2cd33614dd07efcd168d1fffc8b69
cover_image: "https://themeix.com/wp-content/uploads/dooxy-responsive-html-template-preview.png" # Image will Display in Social Media When share the website
facebook: "https://www.facebook.com"
twitter: "https://www.twitter.com"
instagram: "https://www.instagram.com"
github: "https://www.github.com"
linkedin: "https://www.linkedin.com"
behance: "https://www.behance.com"
reddit: "https://www.reddit.com"
vimeo: "https://www.vimeo.com"
dribble: "https://www.dribble.com"
youtube: "https://www.youtube.com"

## Theme Options
animated_header: "false"  #true 
twitter_username: jekyllrb
github_username:  jekyll

toc:
  min_level: 1
  max_level: 6
  no_toc_section_class: no_toc_section
  list_class: section-nav
  sublist_class: ''
  item_class: toc-entry
  item_prefix: toc-


# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-archives
  - jekyll-toc
  - jekyll-seo-tag
  - jekyll-include-cache

collections:
  team_members:
    output: true
    permalink: /team_members/:path/
  testimonials:
    output: true
    permalink: /testimonials/:path/
  docs:
    output: true
    permalink: /docs/:title/
  posts:
    output: true
    permalink: /posts/:title/
  # Archives
  archives:
    output: true
    permalink: /archives/:path/


############################################################
# Site configuration for the Jekyll Pagination Gem
# The values here represent the defaults if nothing is set
pagination:
  
  # Site-wide kill switch, disabled here it doesn't run at all 
  enabled: true

  # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: true

  # The default document collection to paginate if nothing is specified ('posts' is default)
  collection: 'docs'

  # How many objects per paginated page, used to be `paginate` (default: 0, means all)
  per_page: 2

  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/page/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files 
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.

  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: ':title - page :num'

  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: 'date'

  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true

  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: 'posts'

  # Optional, the default tag to use, omit to disable
  tag: ''

  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts, 
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: '' 

 # Optional,omit or set both before and after to zero to disable. 
 # Controls how the pagination trail for the paginated pages look like. 
  trail: 
    before: 2
    after: 2

  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html

  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: 'index'

############################################################
# JEKYLL-ARCHIVES
category_archive:
  type: jekyll-archives
  path: /categories/
tag_archive:
  type: jekyll-archives
  path: /tags/
year_archive:
  type: jekyll-archives
  path: /archives/

# https://github.com/jekyll/jekyll-archives
jekyll-archives:
  enabled:
    - categories
    - tags
    - year
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
    year: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/
    year: /archives/year/:year/
  
  # Defaults
  defaults:
  - scope:
      path: ""
      type: tag
    values:
      author_profile: true
  - scope:
      path: ""
      type: category
    values:
      comments: false

# JEKYLL-ARCHIVES FINE

autopages:
  enabled: true
  collections:
    layouts: 
      - 'tag_page.html'
    title: ' :coll' # :coll is replaced by the collection name
    permalink: '/:coll/'
  
  tags:
    layouts: 
      - 'tag_page.html'
    title: ':tag' # :tag is replaced by the tag name
    permalink: '/tag/:tag'  
      

# Tag Options
tag_page_layout: tag_page
tag_page_dir: tag
permalink: /:title/ 

 
   
    
feed:
  collections:
    posts:
      path: "/index.xml"


        
